* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(51, 51, 51);
}
body {
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
nav {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.877), rgb(51, 51, 51));
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
}
.logo {
    margin-right: auto; 
    margin-left: 20px;
    width: auto;
    height: 50px; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-grow: 1;
}
li {
    display: inline-block;
    margin-right: 20px;
}
li:last-child {
    margin-right: 0;
}
a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: normal;
}
a:hover {
    color: rgb(102, 204, 51);
    transition: ease-in-out;
}